@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700,400italic);

body {
	min-height: 2000px;
	padding-top: 70px;
	background: url('../img/binding_dark.png');
	box-shadow: 0 0 15px 10px rgba(45,44,44,0.6) inset;
	font-family: 'Old Standard TT', serif;
}

section {
	position: relative;
	background: url('../img/paper.png');
	box-shadow: 
		0 1px 5px 3px #fff inset,
		0 -2px 0 #ccc,
		0 7px 15px 1px #000;
	margin-top: 40px;
	padding: 55px 40px 70px 40px;
	text-shadow: 0 2px 1px #fff;
}

section h2, section h3 {
	font-family: 'Old Standard TT', serif;
	font-weight: bold;
}

.stats {
	background: url('../img/shl.png');
	color: #f1f1f1;
	text-shadow: 0 -2px 1px #800;
	padding: 5px;
	position: relative;
	text-indent: 5px;
}

.stats::after {
	content: 'x';
	color: transparent;
	text-shadow: none;
	position: absolute;
	top: 0;
	right: -65px;
	width: 65px;
	padding: 5px;
	background: url('../img/shl.png');
	background-position: 2px 0;
	z-index: 10;
}

.stats::before {
	content: 'x';
	color: transparent;
	text-shadow: none;
	position: absolute;
	top: 0;
	left: 0;
	right: -65px;
	padding: 5px;
	outline: 1px dashed #800;
	outline-offset: -4px;
	box-shadow: 
		0 3px 5px rgba( 0, 0, 0, 0.15 ),
		0 1px 3px #fe5757 inset, 
		0 -2px 0 #800;
	z-index: 15;
}

.stats .text-muted {
	color: #fff;
	opacity: 0.7;
}

#ingredients {
	margin-bottom: 60px;
}

#ingredients li {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: solid 1px #ccc;
	font-size: 18pt;
}

.description {
	font-weight: bold;
	margin-bottom: 15.5pt;
}